spring:
  profiles:
    include: secret   # 👈 이 줄 추가! (secret.yml을 포함하라는 뜻)
  datasource:
    url: jdbc:mysql://localhost:3306/eshop?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: root
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: validate # update는 운영 중 사고 발생 가능성 -> validate or none
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect
        #Refact : N+1 문제 해결을 위한 Batch Size.
        default_batch_fetch_size: 100
    open-in-view: false  # 켜져 있으면, API 응답을 다 만들어서 반환할떄까지 DB 커넥션 붙잡고 있음. -> 대용량 시 커넥션 풀 금방 마름.
    # 끄면 Tx 범위 안에서만 DB 쓴다.
  # Redis 설정 유지
  data:
    redis:
      host: localhost
      port: 6379

#jwt설정

jwt:
  secret: ${JWT_SECRET_KEY}
  expiration-time: 86400000 #24시간 (밀리초)
